{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="entry">
		<h1>{% trans %}Campaments{% endtrans %}</h1>
	</div>
	<div class="row-fluid">
		{% for camp in camps %}
			<div class="span6">
			<a href="{{ path('regne_hostil_kingdoms_show_camp', {'name': camp.name}) }}">
				<img class='img-camps' src="{{ asset( camp.logo ) }}">
			</a>
		</div>

		{% if loop.index % 2 == 0 %}
			</div>
			<div class="row-fluid">
		{% endif %}
		{% endfor %}
{% endblock %}