{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}
	<div class='entry'>
		<h1>{{ chronicle.title }}</h1>
		<div class="entry-text">
			{{ chronicle.body|raw }}
		</div>
	</div>

<ul class="pager">
	{% if next == true %}
		<li class="next">
			<a href='{{ path('regne_hostil_kingdoms_show_chronicle', {'chapter' : chapter + 1}) }}'>Newer &rarr;</a>
		</li>
	{% endif %}
	{% if prev == true %}
		<li class="previous">
			<a href='{{ path('regne_hostil_kingdoms_show_chronicle', {'chapter' : chapter - 1}) }}'>&larr; Older</a>
		</li>
	{% endif %}
</ul>
{% endblock %}