{% extends 'RegneHostilClubBundle:Default:layout.html.twig' %}

{% block content %}
	<div class=entry>
		<h1>Qui som?</h1>
		<center>
			<div class="embed">
				<iframe src="http://www.youtube.com/embed/eyoSGkf9zrw" frameborder="0" allowfullscreen></iframe>
			</div>
		</center>
	</div>
	
	<div class=entry>
		<h1>Objectius</h1>
		<div class=entry_text>
			<p>
				L'objectiu principal de Regne Hostil és donar a conèixer el món del rol en viu, el soft-combat i en 
				general la temàtica medieval-fantàstica a tothom qui vulgui participar en les nostres activitats, sense límit d'edat ni condició.
			</p>
			<p>
				A més, conscients de la fama que malauradament encara arrossega el món del rol, un dels objectius que Regne Hostil té més present és promoure 
				aquest tipus d'afició com un passatemps vàlid per ocupar el temps d'oci, i que inclús dona la possibilitat a grans i petits de col·laborar i 
				treballar en equip compartint un hobby, i per tant, aprendre dels altres.
			</p>
		</div>
	</div>
    
	<div class=entry>
            <h1>Rol</h1>
			<div class=entry_text>
				<p>
					El jocs de Rol tal i com es coneixen avui en dia tenen el seu origen durant la dècada dels seixanta a Estats Units on finalment es 
					publicaria un dels jocs més famosos de Rol: Dungeons and Dragons.
				</p>
				<p>
					Un joc de Rol és un joc interpretatiu i narratiu en el qual els jugadors prenen el rol dels personatges al llarg d'una història o trama, 
					en la qual interpreten els diàlegs i les accions. Generalment, no existeix un guió a seguir ja que el desenvolupament de la història depèn 
					completament de les decisions i accions dels propis jugadors que son els que controlen les vides dels seus personatges. En els jocs de rol 
					destaca el fet que la imaginació, la narrativa, la originalitat i l'enginy son primordials pel correcte desenvolupament d'aquest tipus de joc.<p>
					És per tot això que volem aconseguir apropar i ensenyar aquesta faceta, poc coneguda i sovint 
					emmascarada pels mitjans de comunicació, al públic en general.
				</p>
			</div>
	</div>

    <div class=entry>    
		<h1>Ofertes</h1>
		<div class=entry_text>
			<p>
				Com a club organitzem tot tipus d'activitats relacionades amb el món de l'oci i en concret els jocs de rol, simulació i estratègia. 
				Les activitats que usualment es duen a terme són rols en viu, wargames, tornejos de jocs de taula, festes temàtiques i espectacles de 
				tipus medieval a fires i mercats d'arreu de Catalunya.
			</p>
			<p>
				No obstant, tota la Junta Directiva del club té sempre en ment diferents tipus d'activitats per dur a terme, i per tant, 
				com a club estem oberts a qualsevol tipus d'activitat relacionada amb aquest món i en la que es permeti complir els objectius 
				abans esmentats. A la nostra secció de notícies s'anuncien els esdeveniments que organitza Regne Hostil. Si ens voleu 
				conèixer millor, no perdeu de vista les notícies!
			</p>
		</div>
	</div>
{% endblock %}
