{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}

<div class="entry">
    <h1>Concurs Literari</h1>
    <img class="img-rounded" src="/bundles/regnehostilkingdoms/img/logo_concurs_literari.png" align="left">
    <p>Benvinguts a les bases del Concurs Kingdoms 2012 d'història de personatge. Tots aquells jugadors inscrits al Kingdoms 2012, és a dir, que han enviat el mail confirmant assistència i escollint campament, poden participar en aquest concurs.</p>
    <p>Hi haurà 3 guanyadors, un per a cada campament, que rebran cadascun una recompensa. En cas de no rebre cap treball d'un dels campaments, es triarà a un sol guanyador del concurs.</p>
    <br><br><br><br><br><br><br><br>
  </div>
  
  <div class="entry">
    <h1>Bases</h1>
    <ul>
      <li>La història ha de ser un text o relat original de temàtica lliure, però que narri o presenti el personatge que el concursant interpretarà durant el Kingdoms 2012.</li>
      <li>Cada concursant podrà enviar un sol treball.</li>
      <li>Ha de tenir una extensió màxima de 3 pàgines A4.</li>
      <li>Ha d'estar redactat en llengua catalana o castellana.</li>
      <li>Ha d'estar escrit en lletra Times New Roman 12 o Arial 12, interlineat senzill i encapçalat per un tí­tol (lliure).</li>
      <li>Haurà de ser enviat com a arxiu adjunt en format .doc o .pdf. A més, al mail hi haurà de figurar el nom del concursant, el nom del personatge, i el nom del campament al qual assistirà com a jugador de Kingdoms 2012 (opció 1 de campament, o confirmat al mail de resposta).</li>
    </ul>
  </div>
  
  <div class="entry">
    <h1>Termini i presentació</h1>
    <p>Els treballs hauran de ser enviats a <a href="mailto::kingdoms@regnehostil.com">kingdoms@regnehostil.com</a> abans del dia 27 de Juny (inclòs).</p>
  </div>
  
  <div class="entry">
    <h1>Criteri de valoració</h1>
    <p>La valoració dels treballs es durà a terme tenint en compte aquests criteris:</p>
    <ul>
      <li>Grau de qualitat literària, correcció estilística i ortogràfica.</li>
      <li>Grau d'adequació al caràcter del campament escollit.</li>
      <li>Originalitat</li>
    </ul>
  </div>
  
  <div class="entry">
    <h1>Jurat</h1>
      <p>Els treballs presentats seran valorats per un Jurat conformat per membres de la Junta Directiva de Regne Hostil.</p>
      <p><i>* El jurat es reserva el dret a no admetre una obra en cas que les dades adjuntes al mail siguin incorrectes (noms i/o campament corresponents) o en cas de plagi.</i></p>
  </div>
  
  <div class="entry">
    <h1>Veredicte</h1>
    <p>El veredicte del concurs es farà públic durant la cerimònia dobertura de Kingdoms 2012, el dissabte dia 30 de Juny.</p>
  </div>

  {% endblock %}