{% extends 'RegneHostilKingdomsBundle:Default:layout.html.twig' %}

{% block content %}
  <div class=entry>
      <h1>Plantejament</h1>
      <p><b>Dates:</b> 30 de Juny - 1 de Juliol de 2012</p>
      <p><b>Preu:</b> 25e + 10e si es desitja el sopar ofert per la organització.</p>
      <p><b>Lloc:</b> Casa de pagès "El Serradalt". (Coordenades GPS: 42.041502,2.205751). </p>
      <p><b>Estada:</b> Els participants han de ser autosuficients i portar tot el que necessitin per a acampar.</p>
      <i>Per a facilitar l'arribada a la zona de joc es realitzarà un check point a un lloc de més fàcil accés.</i>
  </div>
  
  <div class=entry>
    <h1>Horaris</h1>
    <p><b>Dissabte: </b><br>8:00 - 10:30 Arribada i muntatge de campaments.<br>10:30 - 12:00 Comprobacions de fitxes de personatge, armes i 			armadures.
    <br>12:00 Benvinguda i petit recordatori de normes. <br>21:00 Sopar a la Taverna.<p>
    <p><b>Diumenge: </b><br>11:00 Batalla final.<br>14:00 Final de partida i recollida de campaments.</p>
  </div>
    
  <div class=entry>
    <h1>Campaments i alimentació</h1>
    <p>Com ja hem dit, els jugadors han de ser autosuficients. Per tant, ja que Kingdoms-Fest dura dos dies, els jugadors s'han de procurar el seu propi menjar i beure. Cada participant haurà de portar: 2 esmorzars (dissabte i diumenge), 1 o 2 dinars(depenent de l'hora que tinguin pensat marxar diumenge), 2 berenars i, si ho desitjeu, 1 sopar.</p>
    <p>Des de l'organització es posarà a disposició dels jugadors una taberna i una botiga on es podrà comprar diferents begudes com 	aigua, vi i cervesa i menjar com fruita i pastissos.</p>
    <p>A més, el dissabte a les 21:00 es podrà assistir a un sopar, previ encàrreg i pagament (10 euros).</p>
    <p><b>Campaments:</b></p>
    <p>Degut a que les zones d'acampada no es consideren terreny de joc, es permetrà portar material "modern".<p>
    <p>Tot i així, es premiarà aquells campaments que tinguin una millor integració dins del món medieval.</p>
  </div>

  <div class=entry>    
    <h1>Prohibit fer foc!</h1>
    <p>Degut a les mesures de seguretat contra el foc de la Generalitat de Catalunya, està prohibit fer foc de qualsevol tipus a les rodalies de boscos i espais forestals.</p>
    <p>Per això, dins del Kingdoms-fest no es permetrà fer foc de cap tipus, ja sigui barbacoa, camping-gas, antorxes... sota risc d'expulsió de la partida.</p>
  </div>
  
  <div class=entry>    
    <h1>Què cal portar?</h1>
    <p>Per fer la vostra estada una mica més còmode i facilitar-vos la feina de fer la maleta us facilitem una llista amb les coses més importants per portar. Si veniu en grup, algunes coses les podeu compartir per alleugerar equipatge.<p>
    <b>General:</b>
    <ul>
      <li>Material d'acampada: tenda i totes les eines necessàries per a muntar-la.</li>
      <li>Pala.</li>
      <li>Corda.</li>
      <li>Cinta adhesiva.</li>
      <li>Lot (si es vol utilitzar en partida haurà d'estar ambientat).</li>
      <li>Jaqueta i sabates impermeables.</li>
      <li>Matalàs inflable, esterilla o similar.</li>
      <li>Sac de dormir o manta.</li>
      <li>Bosses d'escombraries.</li>
      <li>DNI o identificació personal.</li>
      <li>Confirmació d'assistència.</li>
      <li>Roba de recanvi.</li>
      <li>Diners reals, per a comprar a les botigues o a la taberna.</li>
    </ul>
    <b>Medicaments:</b>
    <ul>
      <li>Si necessiteu algun medicament per a una malaltia crònica, depeneu d'alguns medicaments o sou al·lèrgics.</li>
      <li>Farmaciola de viatge: per a maldecaps, nàusees, refredats, cremades de sol, insectes, etc.</li>
      </ul>
      <b>Menesters de personatge:</b>
      <ul>
      <li>Armes o utensilis necessaris per a fer creïble el teu personatge (boles d'energia, vares, llibres, gerres...)</li>
      <li>Vestit: bèlic i civil.</li>
      <li>Equipació per portar monedes, aigua, papers, etc.</li>
      <li>Si cal, maquillatge i desmaquillador.</li>
    </ul>
    <b>Menjar i beure:</b>
    <ul>
      <li>Menjar per a cuinar fred per als àpats: 2 esmorzars (dissabte i diumenge), 1 o 2 dinars (depenent de l'hora que voleu marxar el diumenge), 2 berenars i si ho desitgeu 1 sopar.</li>
      <li>Aigua. Recordem que Kingdoms es fa en unes dates on possiblement hi hagi altes temperatures.</li>
    </ul>
  </div>
  
  <div class=entry>    
      <h1>Com arribar</h1>
      <p>Per tal de recollir als jugadors que arribin amb el tren i validar les inscripcions dels jugadors es farà una primera parada a l'estació de Renfe de Manlleu:</p>
      <p><b>Arribar amb tren:</b> Agafar línia R3 (Hospitalet de Llobregat - La Tour de Carol) i baixar a la parada Manlleu.</p>
      <p><b>Arribar amb cotxe:</b><br> C/ Passeig de l'estació, 9 <br>Manlleu (08560), OSONA.</p>
      <p>Des de la C-25(eix transversal) agafar la sortida <i>Ripoll, Puigcerdà, Vic Nord</i> i agafar la C-17.</p>
      <img src="./img/uploads/com-arribar-1.png">
      <p>Des de la C-17 agafar la sortida 68: <i>Manlleu centre.</i></p>
      <img src="./img/uploads/com-arribar-2.png">
      <p>Finalment, seguir el mapa fins a l'estació.</p>
      <img src="./img/uploads/com-arribar-3.png">
  </div>
{% endblock %}