{% extends 'RegneHostilAdminBundle::layout.html.twig' %}

{% block content %}
	<style type="text/css">
		textarea {
			width: 90%;
			height: 30%;
		}
	</style>

{% if updated %}
		<div class='alert alert-success'>
			Quote actualitzat!
		</div>
{% endif %}

<form action="{{ path('regne_hostil_admin_edit_quote', {'id' : id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>
{% endblock %}